<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template1">

<head>
    <meta charset="UTF-8">
    <title>Beneficiaries</title>
</head>

<body>
<div layout:fragment="content1">
<div class="col-md-6 offset-3">
<form method="post" th:action="@{/user/save}">
    <div>
        <label id="fName">Prénom</label>
        <input for="fName"  name="fName" type="text" th:value="${beneficiary.FName}">
        <span class="text-danger" th:errors="${beneficiary.FName}"></span>
    </div>
    <div>
        <label id="lName">Nom</label>
        <input for="lName"  name="lName" type="text" th:value="${beneficiary.LName}">
        <span class="text-danger" th:errors="${beneficiary.LName}"></span>
    </div>
    <div>
        <label id="email">Email</label>
        <input for="email"  name="email" type="email" th:value="${beneficiary.email}">
        <span class="text-danger" th:errors="${beneficiary.email}"></span>
    </div>
    <div>
        <label id="password">Password</label>
        <input for="password"  name="password" type="password" th:value="${beneficiary.password}">
        <span class="text-danger" th:errors="${beneficiary.password}"></span>
    </div>
    <div>
        <label id="tel">N° Tel</label>
        <input for="tel"  name="tel" type="text" th:value="${beneficiary.tel}">
        <span class="text-danger" th:errors="${beneficiary.tel}"></span>
    </div>
    <div>
        <label id="som">N° SOM</label>
        <input for="som"  name="som" type="text" th:value="${beneficiary.som}">
    </div>
    <div>
        <label id="acaReg">Académie Regional</label>
        <input for="acaReg"  name="acR" type="text" th:value="${beneficiary.acR}">
        <span class="text-danger" th:errors="${beneficiary.acR}"></span>
    </div>
    <div>
        <label id="cyE">Cycle d'enseignant</label>
        <input for="cyE"  name="cyE" type="text" th:value="${beneficiary.cyE}">
    </div>
    <div>
        <label id="eta">Etablissement</label>
        <input for="eta"  name="eta" type="text" th:value="${beneficiary.eta}">
    </div>
    <div>
        <label id="dirP">Direction Provinciale</label>
        <input for="dirP"  name="dirP" type="text" th:value="${beneficiary.dirP}">
    </div>
    <div>
        <label id="fon">Fonction</label>
        <input for="fon"  name="fon" type="text" th:value="${beneficiary.fon}">
    </div>
    <button type="submit" class="btn btn-primary">
        Submit
    </button>
</form>
    </div>
</div>
</body>
</html>
